<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fakesinsa.fakesinsaboot.mapper.ShopPagingMapper">

   <!-- <resultMap id="productResult" type="com.fakesinsa.fakesinsaboot.model.Product">
        <result column="prduct_id" property="prductId"/>
        <result column="product_category" property="productCategory"/>
        <result column="product_name" property="productName"/>
        <result column="prduct_price" property="prductPrice"/>
        <result column="product_detail" property="productDetail"/>
        <result column="product_img" property="productImg"/>
    </resultMap>-->

    <select id="getProductByCategory"  parameterType="hashmap" resultType="hashmap" >
        select * from product;
    </select>

    <select id="getProductCnt" parameterType="int" resultType="int">
        select count(product_id) from product;
    </select>

</mapper>